/* Master Styles */
h1 {
  color: #476b6b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #476b6b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body {
  margin: 2em;
      background: #f0f5f5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#669999, #f0f5f5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#669999, #f0f5f5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#669999, #f0f5f5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#669999, #f0f5f5); /* Standard syntax (must be last) */
}
body, input[text], button {
  color: #334d4d;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: lightcyan;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
